/.bundle/
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep
/public/assets
.byebug_history
/config/master.key
/config/credentials/*.key
*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/vendor/bundle
.DS_Store
.idea/
.vscode/
*.log
.env
